html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #4203a9, #90bafc);
}

.container {
  width: 100%;
  min-height: 100vh;
  color: #fff;
  padding: 1rem;
}

.calculator {
  width: 100%;
  max-width: 60rem;
  margin-top: 10%;
  margin-left: 10%;
}

.calculator h1 {
  font-size: 6.1rem;
}

.calculator h1 span {
  color: #ffff76;
}

.input-box {
  width: 60rem;
  background-color: rgb(255, 255, 255, 0.3);
  margin-top: 3rem;
  padding: 3rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}

#date {
  flex: 1;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border: 0;
  outline: 0;
  border-radius: 1rem;
  position: relative;
  margin-right: 1rem;
}

#date::-webkit-calendar-picker-indicator {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  position: absolute;
  background-position: calc(100% - 10px);
  background-size: 2rem;
  cursor: pointer;
}

.btn-calculate {
  padding: 1.2rem 3rem;
  border: 0;
  outline: 0;
  border-radius: 1rem;
  background-color: #ffff76;
  color: #333;
  font-weight: 600;
  cursor: pointer;
}

.age-info {
  margin-top: 2rem;
  font-size: 1.8rem;
  color: #eee;
}

.age-info.hidden {
  display: none;
}

.age,
.month,
.day {
  color: #ffff76;
}

@media (max-width: 37em) {
  html {
    font-size: 50%;
  }
  /* 
  .container {
    height: 100vh;
    padding: 0;
  } */

  .input-box {
    width: 42rem;
    flex-direction: column;
  }

  #date {
    width: 100%;
    margin-bottom: 1rem;
  }
}
